*,
*::before,
*::after {
  box-sizing: border-box;
  transition: 0.24s;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  @apply .font-serif;
}

h4 {
  @apply .font-sans .text-grey-dark .font-normal .text-xl;
}

p {
  @apply .text-grey-dark;

  & ~ p {
    @apply .mt-3;
  }
}

.card {
  @apply .bg-white .shadow-card .py-8 .px-10;
}

button,
.button {
  @apply .inline-block .text-white .bg-primary .py-4 .px-6 .border-none;

  &:disabled {
    @apply .bg-grey-light .text-grey-darker .cursor-default;
  }

  &.secondary {
    background: #666;
  }
}

a:not(button):not(.button) {
  @apply .font-semibold .no-underline .text-grey-darker;
}

// input[type="radio"],
input[type="checkbox"] {
  position: absolute; // take it out of document flow
  opacity: 0; // hide the base browser implementation — this is preferred to `display:none` for accessibility

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    font-weight: inherit;

    &::before,
    &::after {
      content: ""; // to prevent (optional) from showing up
    }

    &::before {
      margin-right: 10px;
      display: inline-block;
      vertical-align: middle;
      width: 1.75rem;
      height: 1.75rem;
      padding: 0.125rem;
      font-size: 1.25rem;
      line-height: 1.55rem;
      background: white;
      transition: all 0.24s;
    }
  }

  &:not(:checked) {
    &:hover,
    &:focus {
      & + label::before {
        @apply .bg-grey-light; // no change
      }
    }
  }

  // shadow for accessibility
  &:focus + label::before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }
}

// input[type="radio"] {
//   // box styles
//   & + label {
//     &::before,
//     &::after {
//       border-radius: 50%;
//     }
//   }

//   &:checked + label::after {
//     position: absolute;
//     left: 0;
//     top: 0.325rem;
//     background: #888;
//     width: 1.25rem;
//     height: 1.25rem;
//   }
// }

input[type="checkbox"] {
  // box styles
  & + label::before {
    @apply .bg-grey-light;
  }

  &:checked + label::before {
    @apply .bg-primary;
  }

  & + label::after {
    @apply .bg-primary-lightest;
  }

  & + label::after {
    $checkmark-colour: white;

    @apply .bg-white;

    position: absolute;
    left: 0.25rem;
    top: 0.75rem;
    margin-left: 0.2rem;
    width: 0.125rem;
    height: 0.125rem;
    box-shadow: 0.125rem 0 0 $checkmark_colour, 0.25rem 0 0 $checkmark_colour,
      0.25rem -0.125rem 0 $checkmark_colour,
      0.25rem -0.25rem 0 $checkmark_colour,
      0.25rem -0.375rem 0 $checkmark_colour, 0.25rem -0.5rem 0 $checkmark_colour;
    transform: rotate(45deg) scale(1.25);
  }
}
