*,
*::before,
*::after {
  box-sizing: border-box;
  transition: 0.24s;
}

h1,
h2,
h3 {
  @apply .font-serif;
}

h4 {
  @apply .font-sans .text-grey-dark .font-normal .text-xl;
}

p {
  @apply .text-grey-dark;

  & ~ p {
    @apply .mt-3;
  }
}

.card {
  @apply .bg-white .shadow-card .py-8 .px-10;
}

button,
.button {
  @apply .inline-block .text-white .bg-primary .py-4 .px-6;

  &:disabled {
    @apply .bg-grey-light .text-grey-darker .cursor-default;
  }
}

a:not(button):not(.button) {
  @apply .font-semibold .no-underline .text-grey-darker;
}
